POSTGRES_USER=airflow
POSTGRES_PASSWORD=change_me
POSTGRES_DB=airflow_db

# Yandex Direct API
YANDEX_CLIENT_ID_1=your_client_id_here
YANDEX_CLIENT_SECRET_1=your_client_secret_here
YANDEX_ACCESS_TOKEN_1=your_access_token_here

YANDEX_CLIENT_ID_2=your_client_id_here_2
YANDEX_CLIENT_SECRET_2=your_client_secret_here_2
YANDEX_ACCESS_TOKEN_2=your_access_token_here_2